<a href="https://colab.research.google.com/github/dddoriath/Probability/blob/main/%5BExercises_4%5DPandas_GroupBy_Split_Apply_Combine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quick Rendering Hack


We'll create a quick class that allows us to display multiple ``DataFrame``s side by side. The code makes use of the special ``_repr_html_`` method, which IPython uses to implement its rich object display:

In [ ]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## Import Required Modules

In [1]:
import numpy as np
import pandas as pd

# GroupBy: Split, Apply, Combine

## Pull Planets Data

In [2]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [3]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Split, apply, combine

#### Create a GroupBy object grouped by method for planets

In [4]:
planets.groupby(['method'])

#### Create a GroupBy object grouped by method and select the mass column

In [6]:
planets.groupby('method')['mass']

#### Using the GroupBy object defined above to calculate mean orbital period grouped by method

In [7]:
planets.groupby('method')['orbital_period'].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [10]:
planets.groupby('method').mean()

,number,orbital_period,mass,distance,year
method,,,,,
Astrometry,1.000000,631.180000,NaN,17.875000,2011.500000
Eclipse Timing Variations,1.666667,4751.644444,5.125000,315.360000,2010.000000
Imaging,1.315789,118247.737500,NaN,67.715937,2009.131579
Microlensing,1.173913,3153.571429,NaN,4144.000000,2009.782609
Orbital Brightness Modulation,1.666667,0.709307,NaN,1180.000000,2011.666667
Pulsar Timing,2.200000,7343.021201,NaN,1200.000000,1998.400000
Pulsation Timing Variations,1.000000,1170.000000,NaN,NaN,2007.000000
Radial Velocity,1.721519,823.354680,2.630699,51.600208,2007.518987
Transit,1.954660,21.102073,1.470000,599.298080,2011.236776
Transit Timing Variations,2.250000,79.783500,NaN,1104.333333,2012.500000

### Aggregate, filter, transform, apply

In [13]:
rng = np.random.RandomState(4)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(1, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      8
1   B      1      6
2   C      2      2
3   A      3      9
4   B      4      8
5   C      5      9

#### Aggregation

#### Get the min, median, and max aggregates grouped by key from the df dataset

In [19]:
df.groupby('key').aggregate([min, np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     8    8.5   9
B       1    2.5   4     6    7.0   8
C       2    3.5   5     2    5.5   9

#### Get the count, mean, and median aggregates of orbital period grouped by method for the planets dataset

In [24]:
planets.groupby('method')['orbital_period'].aggregate([np.median])

                                     median
method
Astrometry                       631.180000
Eclipse Timing Variations       4343.500000
Imaging                        27500.000000
Microlensing                    3300.000000
Orbital Brightness Modulation      0.342887
Pulsar Timing                     66.541900
Pulsation Timing Variations     1170.000000
Radial Velocity                  360.200000
Transit                            5.714932
Transit Timing Variations         57.011000

#### Filtering

#### Create a filter function that returns true for keys with a mean greater than 4 for the data2 column. Filter the df dataset grouped by method. Display the input table, the aggregate mean values of the table, and filtered table

In [37]:
def filter_func(x):
  return x['data2'].mean() > 6

In [34]:
df.groupby('key').mean()

     data1  data2
key
A      1.5    8.5
B      2.5    7.0
C      3.5    5.5

In [38]:
df.groupby('key').filter(filter_func)

  key  data1  data2
0   A      0      8
1   B      1      6
3   A      3      9
4   B      4      8

#### Create a filter function that returns true for methods with a count higher than 10. Filter the planets dataset grouped by method. Display the count method applied to the input and output table

Remember: you can chain groupby method calls to perform more complex aggregations

In [43]:
def filter_func(x):
  return x['orbital_period'].count() > 10

In [44]:
planets.groupby('method')['orbital_period'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           12
Microlensing                       7
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          3
Name: orbital_period, dtype: int64

In [46]:
planets.groupby('method').filter(filter_func).groupby('method').count()

                 number  orbital_period  mass  distance  year
method
Imaging              38              12     0        32    38
Radial Velocity     553             553   510       530   553
Transit             397             397     1       224   397

#### Transformation

#### Transform the df dataset by subtracting the mean over standard deviation grouped by key. Use a lambda function

In [49]:
df.groupby('key').transform(lambda x: x - x.mean()/x.std())

      data1     data2
0 -0.707107 -4.020815
1 -0.178511  1.050253
2  0.350084  0.888832
3  2.292893 -3.020815
4  2.821489  3.050253
5  3.350084  7.888832

#### Create a transformation function which takes a series, checks if the dtype is float64, if it is it divides that series by 1000, if it isn't it returns the series unchanged. Apply this transformation to the planets dataset. This will convert the units of the float64 columns. Display the input and output tables

In [50]:
def trans_func(x):
  if x.dtype == 'float64':
    return x / 1000
  else:
    return x

In [51]:
planets.transform(trans_func)

               method  number  orbital_period     mass  distance  year
0     Radial Velocity       1        0.269300  0.00710   0.07740  2006
1     Radial Velocity       1        0.874774  0.00221   0.05695  2008
2     Radial Velocity       1        0.763000  0.00260   0.01984  2011
3     Radial Velocity       1        0.326030  0.01940   0.11062  2007
4     Radial Velocity       1        0.516220  0.01050   0.11947  2009
...               ...     ...             ...      ...       ...   ...
1030          Transit       1        0.003942      NaN   0.17200  2006
1031          Transit       1        0.002616      NaN   0.14800  2007
1032          Transit       1        0.003192      NaN   0.17400  2007
1033          Transit       1        0.004125      NaN   0.29300  2008
1034          Transit       1        0.004188      NaN   0.26000  2008

[1035 rows x 6 columns]

#### Apply

#### Define a function that takes a DataFrame and assign data1 + data2.mean() to data3. Apply that function to the df dataset grouped by key. Display the input and output table

In [54]:
def add_func(x):
  x['data3'] = x['data1']+x['data2'].mean()
  return x

In [53]:
df

  key  data1  data2
0   A      0      8
1   B      1      6
2   C      2      2
3   A      3      9
4   B      4      8
5   C      5      9

In [55]:
df.groupby('key').apply(add_func)

  key  data1  data2  data3
0   A      0      8    8.5
1   B      1      6    8.0
2   C      2      2    7.5
3   A      3      9   11.5
4   B      4      8   11.0
5   C      5      9   10.5

### Specifying the split key

#### Create a python list providing grouping keys for the df dataset and calculate the sum based on that grouping. Display the input and output tables

In [56]:
L = [0, 1, 3, 1, 2, 0]

In [57]:
df.groupby(L).sum()

   data1  data2
0      5     17
1      4     15
2      4      8
3      2      2

#### Pull a column from the df dataset, apply any functions of your choice, and use the resulting array as the grouping key. Calculate the sums for the resulting groups. Display the input and output tables

In [69]:
L = df['data1']+ df['data2']
L

0     8
1     7
2     4
3    12
4    12
5    14
dtype: int64

In [70]:
df.groupby(L).sum()

    data1  data2
4       2      2
7       1      6
8       0      8
12      7     17
14      5      9

In [74]:
type(L)

pandas.core.series.Series

In [75]:
type(df)

pandas.core.frame.DataFrame

#### Define a python function that groups df based whether or not the index is even. Calculate the median value of the resulting groups. Display the input and output tables

In [76]:
def func(index):
    if index % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [77]:
df.groupby(func).median()

      data1  data2
even    2.0    8.0
odd     3.0    9.0